[Unit]
Description=Copy last downloaded image to clipboard
After=graphical-session.target

[Service]
Type=oneshot
Environment=DISPLAY=:0
Environment=XAUTHORITY=%h/.Xauthority
ExecStart=/home/tom/git/scripts/copy_last_image/copy_last_image.py

[Install]
WantedBy=default.target
